.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-field {
  padding: 10px;
}
td {
  background-color: black;
  border: 1px solid white;
  height: 10px;
  width: 10px;
}
.alive {
  background-color: yellow;
}
table, #table, #buttons {
  margin: 0 auto;
  border: 1px solid white;
}
#run, #clear, #form {
  display: none;
}
#draw {
  margin: 25%;
}
